* {
  box-sizing: border-box;
}
body {
  padding: 20px;
    background-color: #323232;
  color: rgb(255, 166, 242);
   font-family:'Arial Narrow', Arial, sans-serif;

  /* TODO Add dark mode styles here. */
}

.light-mode {
      background-color:#befff3;
      color:#bababa;
  /* TODO Add light mode styles here. */
}

footer {
    background-color:#76655D;
  text-align: center;
}

.center {
  width: 940px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  /* TODO Add margins to center. */
}
.poem {
}

.dark-mode{
footer {
   background: #9efff4;
background: radial-gradient(circle,rgba(158, 255, 244, 1) 25%, rgba(233, 201, 255, 1) 54%, rgba(250, 200, 233, 1) 88%);
  text-align: center;
}
}
.expample{
    border: 15px solid rgb(255, 255, 255);
    padding: 20px;
    width: 200px;
}


.light-mode footer {
  /* TODO Add footer light mode styles here. */
}

.big{
    font-size: 50px
}

.line{
    display:flex;
    gap:15px;
    justify-content:space-between;
    align-items: center;
}

.underline{
    display: flex;
    gap: 10px;
    justify-content: right;
    border-bottom: 1px solid rgb(255, 158, 237);
    margin-bottom: 0;
    padding: 0;
}

.light-mode.underline{
    border-color: black;
}

.tab{
    display: inline-block;
    border: 1px solid rgb(178, 234, 255);
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom:none;
}

.light-mode.tab{
    border-color:black;
}

a{
    color:rgb(255, 156, 232);
}

.light-mode a{
    color:rgb(255, 59, 219)
}

main{
    display:flow-root;
    min-height:50vh;
    background-color:rgb(198, 255, 253)
}

.light-mode main{
    background-color: #FFD4F3;
}



image{
    width: 400px;
}

#color-mode-button {
 --glow-color: rgb(135, 247, 255);
 --glow-spread-color: rgba(16, 255, 239, 0.781);
 --enhanced-glow-color: rgb(0, 255, 221);
 --btn-color: rgb(250, 177, 255);
 border: .15em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 11px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 transition: all 0.3s;
}

#color-mode-button::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 20%;
 left: 0;
 height: 50%;
 width: 50%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

#color-mode-button:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

#color-mode-button:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

h1 {
    font-family:'Arial Narrow', Arial, sans-serif;
}

#counter{
border-color: rgb(162, 252, 255);
border-style: solid;
border-width: 3px;
border-radius: 5%;
}

#calculator{
  background-color: rgb(61, 61, 61);
  border-color:rgb(255, 181, 245);
  border-width: 5px;
  border-style: solid;
  border-radius:5%;
  display:inline-block;
}

#calculator-buttons{
  background-color: rgb(71, 71, 71);
  border-color: rgb(255, 181, 245);
  border-width: 2px;
  border-style: solid;
  max-width: 100px;
  text-align: center;
}

figure{
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 20px;
    border: 2px solid rgb(219, 219, 219);
    padding: 5px;
}

.light-mode figure{
    border-color: rgb(151, 255, 255);
}

figcaption{
    font-weight:bold;
}

