* {
  box-sizing: border-box;
}

h1 {
  font-family: "Sekuya", system-ui;
  box-shadow: 10px 5px 5px 0 rgb(250, 171, 171);
}

footer {
  background-image: linear-gradient(to bottom, rgb(250, 171, 171), rgb(203, 156, 200));
}

button {
  border-radius: 5px;
  background-color: rgb(250, 171, 171);
  color: rgb(62, 34, 63);
}

b {
  text-align: center;
}

body {
  padding: 20px;
  background-color: rgb(49, 24, 53);
  color: aliceblue;
}

a {
  color: rgb(250, 171, 171);
}

.light-mode {
  background-color: rgb(150, 127, 171);
  color: black;
}

.light-mode h1 {
  box-shadow: 10px 5px 5px 0 rgb(76, 39, 82);
}
.light-mode button {
  border-radius: 5px;
  background-color: rgb(150, 127, 171);
  color: rgb(255, 255, 255);
}

.center {
  width: 940px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.poem {
  text-align: center;
}

main {
  display:flow-root;
  min-height: 50vh;
  background-color: rgb(72, 35, 79);
}

.light-mode main {
  background-color: rgb(120, 83, 125);
}

.light-mode footer {
  background-image: linear-gradient(to bottom, rgb(76, 39, 82), rgb(203, 156, 200));
}

.light-mode a {
 color: rgb(76, 39, 82);
}

.light-mode .underline {
 border-color: black;
}

.light-mode .tab {
  border-color: black;
}

.big {
  font-size: 50px;
}

.line {
  display: flex;
  gap:15px;
  justify-content:space-between;
  align-items: center;
}

.underline {
  display: flex;
  gap: 20px;
  justify-content:right;
  border-bottom: 1px solid white;
  margin-bottom: 0;
  padding:0px;
}

.tab {
  display: inline-block;
  border: 1px solid white;
  border-bottom: none;
  padding: 10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

#calculator {
  background-color: rgb(250, 171, 171);
  display: inline-block;
  width: 900px;
  text-align: center;
}

.light-mode #calculator {
  background-color: rgb(72, 35, 79);
}


#calculator-buttons {
  text-align: center;
}

