* {
  box-sizing: border-box;
}

h1 {
  font-family: "Kranky", serif;
  box-shadow: 10px 5px 5px 0 rgba(219, 219, 219, 0.838);
  color: rgb(160, 160, 160);
  background-color: rgb(230, 230, 230);
  padding: 7px;
}

button {
  border-radius: 5px;
}

body {
  padding: 20px;
  background-color: black;
  color: rgb(245, 245, 245);
}

a {
  color: rgb(168, 168, 168);
}

.light-mode {
  background-color: rgba(251, 251, 251, 0.911);
  color: black;
}

.dark-mode h1 {
  box-shadow: 10px 5px 5px 0 rgb(22, 22, 22);
  background-color: rgb(61, 61, 61);
}

.center {
  width: 1200px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.poem {
  text-align: left;
}

.date {
  background-image: linear-gradient(to bottom, rgb(227, 227, 227), rgb(229, 229, 229));
  border: 1px solid rgb(246, 246, 246);
  border-radius: 15px;
  margin-top: 20px;
}

.dark-mode {
  background-color: rgb(40, 40, 40);
}

.dark-mode h1 {
  color: rgb(207, 207, 207);
}

.dark-mode p {
  color: rgb(216, 216, 216);
}

.dark-mode .date {
  background-image: linear-gradient(to bottom, rgb(33, 33, 33), rgb(16, 16, 16));
}

.big {
  font-size: 40px;
}

.line {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.underline {
  display: flex;
  gap: 15px;
  justify-content: right;
  border-bottom: 1px solid rgb(190, 190, 190);
  margin-bottom: 0;
  padding: 0;
}

.dark-mode .underline {
  border-bottom: 1px solid rgb(113, 113, 113);
}

.tab {
  display: inline-block;
  border: 1px solid rgb(113, 113, 113);
  border-bottom: none;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.light-mode .tab {
  border-color: rgb(204, 204, 204);
}

.dark-mode a {
  color: rgb(190, 190, 190);
}

main {
  min-height: 50vh;
  background-color: rgb(240, 239, 239);
  border: 3px solid rgb(241, 241, 241);
  border-radius: 15px;
  display: flow-root;
}

.dark-mode main {
  background-color: rgb(66, 66, 66);
  border: 3px solid rgb(68, 68, 68);
}

.ccc {
  width: 150px;
  border: 3px solid white;
  border-radius: 20px;

}

.dark-mode .ccc {
  border: 3px solid rgb(35, 35, 35);
}

.dataP {
  border: 1px solid white;
  border-radius: 20px;
  margin: 10px;
  width: 500px;
}

.dataF {
  margin-left: 15px;
}

.dark-mode .dataF p {
  color: rgb(245, 245, 245);
}

b {
  color: rgb(87, 87, 87);
}

.dark-mode b {
  color: rgb(223, 223, 223);
}

.me {
  float: right;
  margin-left: 20px;
  border: 5px solid rgb(198, 198, 198);
  border-radius: 15px;
  margin-right: 20px;
}

figure {
  margin: 0;
  margin-top: 20;
  margin-bottom: 20px;
  border: 3px solid gray;
  padding: 3px;
}

figcaption {
  font-weight: bold;
}

.meintro {
  margin-left: 20px;
}

html {
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

h1 {
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

#fish {
  border: 3px solid white;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 15px;
}

.pdf-container {
  margin-top: 20px;
  width: 70%;
  height: 450px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--border-light);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #f1f5f9;
}

