* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(20, 35, 60), rgb(55, 25, 75));
     filter: drop-shadow(0 0 8px rgba(55, 25, 75, 0.4));
    color: white;
}

.light-mode {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(180, 240, 255), rgb(60, 190, 220));
    filter: drop-shadow(0 0 8px rgba(110, 220, 240, 0.6));
    color: black;
}

.center {
    width: 940px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.poem {
    text-align: left;
}

#calculator {
    display: inline-block;
    background-image: linear-gradient(to bottom, rgb(25, 26, 26), rgb(84, 84, 84)); background-color: aqua;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    
    min-width: 250px;

    padding: 15px;
}

#counter {
    
    background-color: white;
    color: black;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    font-size: 24px;

    min-width: 200px;
}

button {
    border-radius: 100px;
    background-image: linear-gradient(to bottom, rgb(42, 42, 42), rgb(186, 186, 186));
    min-width: 50px;
    min-height: 50px;
}

footer {
    background-color: blue;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(23, 22, 31), rgb(48, 48, 48));
}

.light-mode footer {
    background-color: black;
    color: aqua;
}

.font {
    font-family: "Sekuya", system-ui;
}

.big {
    font-size: 48px;
}

.line {
    display: flex;
    gap: 15px;
    justify-content:
        space-between;
    align-items: center;
}

.underline {
    display: flex;
    gap: 10px;
    justify-content: right;
    border-bottom: 1px solid white;
    margin-bottom: 0;
    padding: 0;
}

.light-mode .underline {
    border-color: black;
}

.tab {
    display: inline-block;
    border: 1px solid white;
    padding: 10px;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.light-mode .tab {
    border-color: black;
}

h1 {
    background-color: white;
    color: black;
    padding: 10px;
}

.light-mode h1 {
    background-color: black;
    color: white;
}

main {
    display: flow-root;
    min-height: 50vh;
    background-color: rgb(255, 255, 255 / 0.1);
}

