* {
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}

body {
    padding: 20px;
    background-color: rgb(0, 0, 255);
    background-image: linear-gradient(to bottom, rgb(167, 0, 0), rgb(48, 48, 48));
    color: white;
}

.light-mode {
    background-color: rgb(0, 230, 255);
    background-image: linear-gradient(to bottom, aqua, rgb(125, 125, 125));
    color: black;
}

.center {
    width: 940px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.poem {
    text-align: left;
}

main {
    display: flow-root;
    background-color: rgb(0, 229, 255);
    background-image: linear-gradient(to bottom, rgb(105, 0, 0), rgb(48, 48, 48));
    color: white;
    min-height: calc(100vh - 230px);
}

.light-mode main {
    background-color: rgb(0, 0, 255);
    background-image: linear-gradient(to bottom, rgb(0, 0, 225), rgb(125, 125, 125));
    color: white;
}

footer {
    background-color: blue;
    padding: 10px;
    text-align: left;
    background-image: linear-gradient(to bottom, rgb(125, 125, 125), rgb(0, 0, 0));
}

.light-mode footer {
    background-color: black;
    background-image: linear-gradient(to bottom, rgb(125, 125, 125), rgb(50, 50, 50));
    color: aqua;
}

.font {
    font-family: "Sekuya", system-ui;
}

.big {
    font-size: 48px;
}

.line {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.underline {
    display: flex;
    gap: 10px;
    justify-content: right;
    border-bottom: 1px solid white;
    margin-bottom: 0;
    padding: 0px;
}

.light-mode .underline {
    border-color: black;
}

.light-mode .tab {
    border-color: black;
}

.tab {
    display: inline-block;
    border: 1px solid white;
    border-bottom: none;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a {
    color: white
}

.light-mode a {
    color: black;
}